<ion-header class="myheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button routerLink="/home">Login</ion-button>
    </ion-buttons>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Inscrivez-Vous</h1>
  </div>
  <form  #form="ngForm" (ngSubmit)="onSubmit(form)">
    <fieldset>
      <legend>Formulaire</legend>
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
          <ion-input
            name="prenom_student" 
            type="text" 
            minlength="3"
            maxlength="50" 
            ngModel 
            required
          ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
          <ion-input 
            name="nom_student" 
            type="text" 
            minlength="3"
            maxlength="50" 
            ngModel 
            required
          ></ion-input>
      </ion-item>
      <!-- <div *ngIf="nom_student.touched && !nom_student.valid">
        <div *ngIf="nom_student.errors.required">nom_student is required</div>
        <div *ngIf="nom_student.errors.minlength">
          nom_student should be minimum
          {{ nom_student.errors.minlength.requiredLength }} characters
        </div>
      </div> -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="student_email" type="email" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="student_password" type="password" ngModel required></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" color="success" type="submit">Créer</ion-button>
    </fieldset>
  </form>
</ion-content>

